@using TaskManager.Areas.Identity.Data;
@model IEnumerable<TaskManager.Models.Task>
@inject Microsoft.AspNetCore.Identity.UserManager<TaskManagerUser> _userManager

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status!.Id)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <div>Published: @Html.DisplayFor(modelItem => item.PublishDate)</div>
                <div>Completed: @Html.DisplayFor(modelItem => item.CompletionDate)</div>
                <div>Publisher: @Html.DisplayFor(modelItem => item.Publisher!.UserName)</div>
                <div>Assignee: @Html.DisplayFor(modelItem => item.Assignee!.UserName)</div>
            </td>
        </tr>
        <tr>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                }
                else
                {
                    @if (item.StatusId == "To do")
                    {
                        <a asp-action="Apply" asp-route-id="@item.Id">Apply</a>
                    }
                    @if (_userManager.GetUserId(User) == item.PublisherId && item.StatusId == "To do")
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
